.service-single-widget {
    padding: 25px;
  
    .service-widget-title {
      padding-bottom: 20px;
      line-height: 1;
    }
  
    .service-list {
      padding-left: 0;
  
      li {
        list-style: none;
        display: flex;
        align-items: center; 
        margin-bottom: 25px;
  
        i {
          margin-right: 10px; 
          color: $primary; 
        }
  
        a {
          color: #333;
          display: block;
          position: relative;
          padding-left: 0;
          transition: padding-left 0.3s;
  
          &:hover {
            color: $primary;
            padding-left: 5px; 
          }
        }
  
        &:last-child {
          a {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .service-details {
      max-width: 90%;  
      height: auto;  
  }